always-auth=true
registry=https://pkgs.dev.azure.com/unfrm/_packaging/unfrm/npm/registry/
//pkgs.dev.azure.com/unfrm/_packaging/unfrm/npm/registry/:username=doesnotmatter
//pkgs.dev.azure.com/unfrm/_packaging/unfrm/npm/registry/:email=doesnot@matter.com
//pkgs.dev.azure.com/unfrm/_packaging/unfrm/npm/registry/:_password=${UNIFORM_PACKAGES_TOKEN}
